<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="./favicon-2/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon-2/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./favicon-2/favicon-16x16.png">
    <link rel="manifest" href="./favicon-2/site.webmanifest">
    <link rel="mask-icon" href="./favicon-2/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon">
    <title>Simplicity Ada</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <!-- Bulma Version 0.9.3-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.3/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../style.css">
  </head>
  <body>
    <nav class="navbar">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                  <img src="logo-2.png"> Simplicity Ada
                </a>
                <span class="navbar-burger burger" data-target="navbarMenu">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </div>
            <div id="navbarMenu" class="navbar-menu">
                <div class="navbar-end">
                    <a class="bd-navbar-icon navbar-item" href="https://github.com/simplicity-ada" target="_blank">
                      <span class="icon" style="color: var(--github);">
                        <i class="fa fa-lg fa-github-alt"></i>
                      </span>
                    </a>
                    <a class="bd-navbar-icon navbar-item" href="https://twitter.com/SimplicityAda" target="_blank">
                      <span class="icon" style="color: var(--twitter);">
                        <i class="fa fa-lg fa-twitter"></i>
                      </span>
                    </a>
                    <div class="tabs is-right">
                        <ul>
                            <li class="is-active"><a>Home</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <section class="container">
      <p class="has-text-white">ticker: SIM0</p>
      <p class="has-text-white">pool-id: 9a659a6c7b867db50f91a93340883babacc8be128a41b28cc64a72ce</p>
      <h2 class="title is-2 has-text-white">Block Dragon NFT</h2>
      <div class="columns">
        <div class="column is-6">
          <div class="card is-shady">
            <div class="card-image">
              <figure class="image">
                <img src="./nft/collection.png"/>
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <p>policy-id: <a href="https://pool.pm/addr1q98rpdtjzw687avzkvdj3mpkfwwq2ldc0cycaa0p4cjqeecjql2sgas0029408zrfe6l5yqkh5raj32k453u56vaj7pqudx7rr/d34fcb99ae38822fcb2f8c5a695687d1bebfcd50871ae18f143dd22a" target="_blank">d34fcb99ae38822fcb2f8c5a695687d1bebfcd50871ae18f143dd22a</a></p>
                <p>total distribution: 5,035</p>
              </div>
            </div>
          </div>
        </div>
        <div class=column is-6">
          <table class="table is-bordered is-hoverable is-striped">
            <thead>
              <tr>
                <th>Ada Staked</th>
                <th colspan="5" style="text-align:center;">Reward / epoch</th>
              </tr>
              <tr>
                <th></th>
                <th>Group 1</th>
                <th>Group 2</th>
                <th>Group 3</th>
                <th>Group 4</th>
                <th>Group 5</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>100 ₳</td>
                <td>1</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>1000 ₳</td>
                <td>5</td>
                <td>1</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>10,000 ₳</td>
                <td>5</td>
                <td>5</td>
                <td>1</td>
                <td></td>
                <td></td>
              <tr>
                <td>100,000 ₳</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>1</td>
                <td></td>
              </tr>
              <tr>
                <td>1,000,0000 ₳</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>1</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      {%- for group in groups %}
      <div>
        <h3 class="title is-3 has-text-white">Group {{ loop.index }}</h3>
        {%- for nft in group %}
        {%- if loop.index0 % 3 == 0 %}
        <div class="columns features">
        {%- endif %}
          <div class="column is-4">
            <div class="card is-shady">
              <div class="card-image">
                <figure class="image">
                <img src="{{nft['url']}}" alt="{{ nft['name'] }}">
                </figure>
              </div>
              <div class="card-content">
                <div class="content">
                  <h2>#{{ nft['id'] }}</h2>
                  <p>token: <a href="{{nft['pool_pm']}}" target="_blank">{{nft['token']}}</a></p>
                  <p>distribution: {{nft['distribution']}}</p>
                  <p>scarcity: {{nft['scarcity_percentage']}}</p>
                </div>
              </div>
            </div>
          </div>
        {%- if loop.index0 % 3 == 2 %}
        </div>
        {%- endif %}
        {%- endfor %}
      </div>
      {%- endfor %}
    </section>
    <footer>
    </footer>
  </body>
</html>
