<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="./favicon-2/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon-2/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./favicon-2/favicon-16x16.png">
    <link rel="manifest" href="./favicon-2/site.webmanifest">
    <link rel="mask-icon" href="./favicon-2/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon">
    <title>Simplicity Ada</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <!-- Bulma Version 0.9.3-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.3/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../style.css">
  </head>
  <body class="has-navbar-fixed-top">
    <nav class="navbar is-dark is-fixed-top">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                  <img src="logo-2.png"> Simplicity Ada
                </a>
                <span class="navbar-burger burger" data-target="navbarMenu">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </div>
            <div id="navbarMenu" class="navbar-menu">
                <div class="navbar-end">
                    <a class="bd-navbar-icon navbar-item" href="https://github.com/simplicity-ada" target="_blank">
                      <span class="icon" style="color: var(--github);">
                        <i class="fa fa-lg fa-github-alt"></i>
                      </span>
                    </a>
                    <a class="bd-navbar-icon navbar-item" href="https://twitter.com/SimplicityAda" target="_blank">
                      <span class="icon" style="color: var(--twitter);">
                        <i class="fa fa-lg fa-twitter"></i>
                      </span>
                    </a>
                    <a class="navbar-item" href="#nft">NFT Series</a>
                    <a class="navbar-item" href="#reward">Staking Reward</a>
                    <a class="navbar-item" href="#pool">Simplicity Pool</a>
                </div>
            </div>
        </div>
    </nav>
    <section class="hero is-fullheight is-dark">
      <div class="hero-body">
        <div class="container has-text-centered">
          <p class="title  has-text-white" style="font-size:4rem;">Stake with Simplicity Pool</p>
          <p class="title  has-text-white" style="font-size:3rem;">to earn NFTs</p>
          <img src="./nft/block-dragon-dadaism.png"/>
          <nav class="level">
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Policy ID</p>
                <p class="is-underlined"><a href="https://pool.pm/addr1q98rpdtjzw687avzkvdj3mpkfwwq2ldc0cycaa0p4cjqeecjql2sgas0029408zrfe6l5yqkh5raj32k453u56vaj7pqudx7rr/d34fcb99ae38822fcb2f8c5a695687d1bebfcd50871ae18f143dd22a" target="_blank">d34fcb99ae38822fcb2f8c5a695687d1bebfcd50871ae18f143dd22a</a></p>
              </div>
            </div>
          </nav>
          <nav class="level">
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Total Distribution</p>
                <p class="title">5,035</p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Ultra scarce</p>
                <p class="title">15</p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Scare</p>
                <p class="title">250</p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Rare</p>
                <p class="title">500</p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Nice grab</p>
                <p class="title">1,250</p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">It's family</p>
                <p class="title">2,500</p>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </section>
    <section class="container" style="padding-top:3.25rem" id="nft">
      {%- for name, group in groups %}
      <div>
        <h3 class="title is-3 has-text-white">{{ name }}</h3>
        {%- for nft in group %}
        {%- if loop.index0 % 3 == 0 %}
        <div class="columns features">
        {%- endif %}
          <div class="column is-4">
            <div class="card is-shady">
              <div class="card-image">
                <figure class="image">
                <img src="{{nft['url']}}" alt="{{ nft['name'] }}">
                </figure>
              </div>
              <div class="card-content">
                <div class="content">
                  <h2>#{{ nft['id'] }}</h2>
                  <p>token: <a href="{{nft['pool_pm']}}" target="_blank">{{nft['token']}}</a></p>
                  <p>distribution: {{nft['distribution']}}</p>
                  <p>scarcity: {{nft['scarcity_percentage']}}</p>
                </div>
              </div>
            </div>
          </div>
        {%- if loop.index0 % 3 == 2 %}
        </div>
        {%- endif %}
        {%- endfor %}
      </div>
      {%- endfor %}
    </section>
    <section class="container" style="padding-top:3.25rem" id="reward">
      <h1 class="title is-1 has-text-white">Staking Reward</h1>
      <div class=column is-12">
        <div class="box">
            <div class="table-container">
              <table class="table is-bordered is-hoverable is-striped is-fullwidth">
                <thead>
                  <tr>
                    <th>Ada Staked</th>
                    <th colspan="5" style="text-align:center;">Reward / Epoch (5 days)</th>
                  </tr>
                  <tr>
                    <th></th>
                    <th>Ultra scarce</th>
                    <th>Scarce</th>
                    <th>Rare</th>
                    <th>Nice grab</th>
                    <th>It's family</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>100 ₳</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>1</td>
                  </tr>
                  <tr>
                    <td>1,000 ₳</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>1</td>
                    <td>5</td>
                  </tr>
                  <tr>
                    <td>10,000 ₳</td>
                    <td></td>
                    <td></td>
                    <td>1</td>
                    <td>5</td>
                    <td>5</td>
                  <tr>
                    <td>100,000 ₳</td>
                    <td></td>
                    <td>1</td>
                    <td>5</td>
                    <td>5</td>
                    <td>5</td>
                  </tr>
                  <tr>
                    <td>1,000,000 ₳</td>
                    <td>3</td>
                    <td>5</td>
                    <td>5</td>
                    <td>5</td>
                    <td>5</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="content" style="padding-top:3.25rem">
              <p class="has-text-weight-bold">Scenario:</p>
              <p>Alice stakes 10,000 ₳ with Simplicity Pool. At the end of each full epoch, Alice would receive the 1 each of the following NFTs:</p>
              <ul>
                <li>#09 (if #09 is run out, #10)</li>
                <li>#14, #15, #16, #17, #18</li>
                <li>#19, #20, #21, #22, #23</li>
              </ul>
            </div>
          </div>
        </div>
    </section>
    <section class="container" id="pool">
      <h1 class="title is-1 has-text-white">Simplicity Pool</h1>
      <iframe width="500" height="360" frameborder="0" src="https://js.adapools.org/widget-dark.html?pool=9a659a6c7b867db50f91a93340883babacc8be128a41b28cc64a72ce"><a href="https://adapools.org/pool/9a659a6c7b867db50f91a93340883babacc8be128a41b28cc64a72ce">Detail</a></iframe>
    </section>
    <footer>
    </footer>
  </body>
</html>
